body {
    border-top: 10px solid #364a5b;
}
input {
    margin-bottom: 10px;
}
h3 {
    margin-bottom: 20px;
}
.form-control {
    display: inline;
    width: 80%;
}
.form-control[type=submit] {
    width: 100%;
}
i {
    font-size: 20px;
    padding-right: 10px;
}
pre {
    opacity: 0.5;
}

#pagegif img {
	width: 250px;
}

body.orange {
	border-color: #fd7b61;
}

body.yellow {
	border-color: #df993b;
}
body.gray {
	border-color: #333;
}
h4 {
	font-size: 24px;
}
.post {
	margin-bottom: 30px;
}

.post img {
	width: 100%;
}
h5 {
	font-size: 24px;
	margin-top: 40px;
}
.table th, .table td { 
     border-top: none; 
 }

#ace_editor_demo, #embedded_ace_code {
    height: 500px;
    border: 1px solid #DDD;
    border-radius: 4px;
    border-bottom-right-radius: 0px;
    margin-top: 5px;
	overflow:hidden;
}

.ace_content {
	overflow:hidden;
}

/* Languages */
.text, .diff, .default { background-color:#474949; } /* Gray */
.ruby, .erlang { background-color:#d9230f; } /* Red */
.boo { background-color:#469408 } /* Green */
.rust { background-color:#d9831f } /* Orange */
.cpp, .php .lua, .c { background-color: #029acf; } /* Blue */
.js  { background-color: #f1c40f; } /* Yellow */
.bash { background-color: #000000; } /* Black */
.go { background-color:#3498db; } /* Light Blue */

/*div.syntax {
    overflow-x: auto;
}

.highlight {
	width:500px;
	overflow:auto;
	white-space: pre-wrap;
}
*/