<!DOCTYPE html>
<html lang="en">

<head>


    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ site }} | {{ page }}</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootswatch/3.1.1/simplex/bootstrap.min.css">
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/main.css')}}" rel="stylesheet">
	<style type="text/css" media="screen">
    #editor { 
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }
</style>
	

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link rel="icon" href="ico/favicon.ico" type="image/x-icon">

</head>

<body >
    <div class="container">

        <div class="row">
            <div class="col-sm-6" id="pagegif">
                <img src="{{ url_for('static', filename='img/computersnore.gif')}}">
            </div>
            <div class="col-sm-5 pull-right">
                <br><pre>
Server ID: fancycat
Edition: <a href="/web/20140729075445/https://github.com/mrtinkles/fancycat">tuna</a>
Cat GIFs installed: 0x4841434b
<a href="/login">Login</a> | <a href="/register">Register</a>
</pre>
            </div>
        </div>
        <h1>{{ site }} | {{ page }}</h1>
		
		{% block content %}
		{% endblock %}
		   <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
		<script src="{{ url_for('static', filename='ace/build/src/ace.js')}}"></script>
		<script src="{{ url_for('static', filename='ace/build/src/ext-static_highlight.js')}}"></script>
	
	<script>
		var editor = ace.edit("ace_editor_demo");
		editor.setTheme("ace/theme/chrome");
		editor.getSession().setMode("ace/mode/{{ data['lang'] }}");
		editor.getSession().setUseWorker(false);
		editor.setOptions({
    maxLines: Infinity
});
	</script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
</body>

</html>
