{% extends "base.html" %}
{% block content %}

       
  



        
        <form method="post">
        <div style="display:none;"><input id="csrf_token" name="csrf_token" type="hidden" value="1406624085.76##8176c29237e2b1fe2e637f771aab0457af0943fd"></div>
        <div class="row">
			
            <div class="col-sm-6">
				<h3>Paste your text/code here:</h3>
                <textarea class="form-control" id="textarea" name="paste" style="height:200px;width:550px;resize:none;" placeholder="Default text"></textarea>
				
				<div class="input-group">
					<span class="input-group-addon">
						<input type="checkbox" />
					</span>
					<input type="text" class="form-control" name="encryption" placeholder="Encryption Password. If left blank, we'll generate one for you."/>
				</div><!-- /input-group -->
				
				<br />
				<div class="input-group">
					<span class="input-group-addon">
						<input type="checkbox" />
					</span>
					<input type="text" class="form-control" readonly disabled placeholder="One view only?" name="oneview" style="background-color:#FFFFFF"/>
				</div><!-- /input-group -->
				<br />
				
				<div class="dropdown">
				  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
					Expiration?
					<span class="caret"></span>
				  </button>
				  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
					<li role="presentation"><a role="menuitem" tabindex="-1" href="#">10 Minutes</a></li>
					<li role="presentation"><a role="menuitem" tabindex="-1" href="#">1 Hour</a></li>
					<li role="presentation"><a role="menuitem" tabindex="-1" href="#">1 Day</a></li>
					<li role="presentation"><a role="menuitem" tabindex="-1" href="#">1 Week</a></li>
					<li role="presentation"><a role="menuitem" tabindex="-1" href="#">1 Month</a></li>
					<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Never</a></li>
				  </ul>
				</div>
				<br />
				<button type="submit" class="form-control btn btn-success btn-block" style="width:50%;">Submit</button>
				
				
            </div>
				
			<div class="col-sm-3">
				<table class="table-borderless table-condensed table-hover">
					<tr>
						<td><span class="label label-default">text</span></td>
						<td>CC Dump Lulz</td>
					</tr>
					<tr>
						<td><span class="label label-primary">ruby</span></td>
						<td>RoR</td>
					</tr>
					<tr>
						<td><span class="label label-success">boo</span></td>
						<td>Never heard of this</td>
					</tr>
					<tr>
						<td><span class="label label-danger">rusty</span></td>
						<td>rusty code</td>
					</tr>
					<tr>
						<td><span class="label label-info">c++</span></td>
						<td>Random Exe dump</td>
					</tr>
				</table>
			</div>

            
        </div>
        </form>



        </div>

    </div>
{% endblock %}
