{% extends "base.html" %}
{% block content %}

        

<p>Warning! This is a cat-only authorization system. Do not use if you are human, dog, panda bear, or other creature.</p>
<p><strong>Note: no more valid codes exist to claim spots, sorry. Congrats for making it this far though!</strong></p>


  



        <h3>Proceed with your credentials:</h3>
        <form method="post">
        <div style="display:none;"><input id="csrf_token" name="csrf_token" type="hidden" value="1406624085.76##8176c29237e2b1fe2e637f771aab0457af0943fd"></div>
        <div class="row">
            <div class="col-sm-5">
                <textarea class="form-control" id="textarea" name="textarea" style="height:200px;width:500px;">default text</textarea>
				<button type="submit" class="form-control btn btn-success">Submit</button>
            </div>

            
        </div>
        </form>



        </div>

    </div>
{% endblock %}