{% extends "base.html" %}
{% block content %}
        <h3>{{ data['title'] }}</h3>
        <form method="post">
        <div style="display:none;"><input id="csrf_token" name="csrf_token" type="hidden" value="1406624085.76##8176c29237e2b1fe2e637f771aab0457af0943fd"></div>
        <div class="row">
            <div class="col-sm-8">		
				
				<pre id="ace_editor_demo">
					{{ data['paste'] }}
				</pre>
            </div>
			
			<div class="col-sm-3">
				<table class="table-borderless table-condensed table-hover">
					<tr>
						<td><span class="label {{ data['tag'] }}">text</span></td>
						<td>CC Dump Lulz</td>
					</tr>
				</table>
			</div>

            
        </div>
        </form>



        </div>

    </div>
	<script src="{{ url_for('static', filename='ace/build/src/ace.js')}}"></script>
		<script src="{{ url_for('static', filename='ace/build/src/ext-static_highlight.js')}}"></script>
	
	<script>
		var editor = ace.edit("ace_editor_demo");
		editor.setTheme("ace/theme/chrome");
		editor.getSession().setMode("ace/mode/{{ data['lang'] }}");
		editor.getSession().setUseWorker(false);
		editor.setOptions({
    maxLines: Infinity
});
	</script>
{% endblock %}