{% extends "base.html" %}
{% block content %}
        <h3>{{ data['title'] }}</h3>
        <form method="post">
        <div style="display:none;"><input id="csrf_token" name="csrf_token" type="hidden" value="1406624085.76##8176c29237e2b1fe2e637f771aab0457af0943fd"></div>
        <div class="row">
            <div class="col-sm-5">
                <!--<textarea class="form-control" id="textarea" name="textarea" style="height:200px;width:500px;" disabled=""></textarea>-->
				{{ data['paste'] }}
            </div>

            
        </div>
        </form>



        </div>

    </div>
{% endblock %}
