{% extends "base.html" %}
{% block content %}
<p>Warning! This is a cat-only authorization system. Do not use if you are human, dog, panda bear, or other creature.</p>
<p><strong>Note: no more valid codes exist to claim spots, sorry. Congrats for making it this far though!</strong></p>
        <h3>Proceed with your credentials:</h3>
        <form method="post">
        <div class="row">
            <div class="col-sm-5">
                <i class="fa fa-heart"></i>
                <input placeholder="Onx ID" type="text" name="login" class="form-control" required="true" id="login">
                <br>
                <i class="fa fa-key"></i>
                <input placeholder="Password" type="password" name="password" class="form-control" required="true" id="password">
				<br>
				<i class="fa fa-key"></i>
                <input placeholder="Confirm Password" type="password" name="cpassword" class="form-control" required="true" id="cpassword">
				<br>
                <i class="fa fa-envelope-o"></i>
                <input placeholder="Email Address" type="text" name="email" class="form-control" required="true" id="email">
				<br>
                <i class="fa fa-envelope-o"></i>
                <input placeholder="Confirm Email Address" type="text" name="cemail" class="form-control" required="true" id="cemail">
				<br>
				<button type="submit" class="form-control btn btn-success">Register</button>
            </div>

        </div>
        </form>



        </div>

    </div>
{% endblock %}
